.*
!.github
!.gitignore
!.htaccess
!.gitkeep
!.dockerignore
/composer.phar
/coverage.xml
/docker-compose.override.yml
/vendor
/html

/data/*
!/data/.gitkeep

/mautic/*
!/mautic/.gitkeep
!/mautic/composer.json
!/mautic/composer.lock
