.*
!.github
!.gitignore
!.htaccess
!.gitkeep
!.ddev
!.php-cs-fixer.php
!.github/ci-files/.my.cnf
.ddev/mautic-preference
/.ddev/docker-compose.host-docker-internal.yaml
!.gitpod.Dockerfile
!.gitpod.yml
!.ddev/commands/web/dd
.php_cs.cache
/.env
/composer.phar
/coverage.xml

/app/*
!/app/.htaccess

/bin/*
!/bin/.htaccess

/data/*
!/data/.htaccess

/docroot/*
!/docroot/.htaccess

/vendor/*
!/vendor/.htaccess

Gruntfile.js
autoload.php
docker-compose.override.yml

