## Development
version: '3.5'

services:

  mautic:
    environment:
      - APP_ENV=dev
    ports:
      - 80:80

  mysql:
    environment:
      - MYSQL_ROOT_PASSWORD=example
      - MYSQL_DATABASE=mautic
      - MYSQL_USER=mautic
      - MYSQL_PASSWORD=mautic
    ports:
      - 3306:3306

